In [1]:
import pandas as pd
import numpy as np

In [2]:
water_consumptions = pd.read_csv('../src/data/water_consumption_complete.csv', sep=",")
water_consumptions.head(15)

    id    datetime  consumption
0    0  2019-02-01          243
1    0  2019-02-02          236
2    0  2019-02-03          335
3    0  2019-02-04          252
4    0  2019-02-05          220
5    0  2019-02-06          276
6    0  2019-02-07          277
7    0  2019-02-08          193
8    0  2019-02-09          262
9    0  2019-02-10          315
10   0  2019-02-11          224
11   0  2019-02-12          337
12   0  2019-02-13          219
13   0  2019-02-14          264
14   0  2019-02-15          384

In [3]:
water_consumptions_100 = water_consumptions[water_consumptions['id'] <= 100]
water_consumptions_100.head()

   id    datetime  consumption
0   0  2019-02-01          243
1   0  2019-02-02          236
2   0  2019-02-03          335
3   0  2019-02-04          252
4   0  2019-02-05          220

In [4]:
water_consumptions_100.shape

(35594, 3)

In [5]:
water_consumptions_100.to_csv('./data/water_consumptions_100.csv', index=False)